* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(172, 155, 122);
}

.navbar { 
    background-color: #aed0dd;
    box-shadow: 0 2px 6px 0 rgba(197, 8, 8, 0.5);
    position:  sticky;
    top: 0;
    z-index: index 100; ;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo{
    width: 200px;
    height: auto;
}

.van-menu{
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-link{
    color: #FFF;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px ;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #FFFFFF22;
    font-weight: bold;
}

/* Estilos para la Navbar */
.navbar {
    background-color: #2a9d8f;
    padding: 1rem 2rem;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffcb05;
    text-shadow: 2px 2px #2a75bb;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 18px;
    border-radius: 50px;
    transition: 0.3s;
}