* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(172, 155, 122);
}

.navbar { 
    background-color: #aed0dd;
    box-shadow: 0 2px 6px 0 rgba(197, 8, 8, 0.5);
    position:  sticky;
    top: 0;
    z-index: index 100; ;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo{
    width: 200px;
    height: auto;
}

.van-menu{
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-link{
    color: #FFF;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px ;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #FFFFFF22;
    font-weight: bold;
}