.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}

.pokemon-card {
    
    background-color: rgb(187, 177, 158); 
    border-radius: 12px;
    
    box-shadow: 0 4px 8px rgba(194, 67, 67, 0.3); 
    overflow: hidden;
    flex: calc(33.333333% - 32px);
    min-width: 250px;
}

.pokemon-image {
    width: 100%;
    height: 350px;
    object-fit: contain;
    
    background: linear-gradient(135deg, #3f6d39, #2d4f2a); 
}

.pokemon-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: rgb(90, 105, 64);
}

.pokemon-type {
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: beige;
    font-weight: bolder;
}

.type-electric {
    background: linear-gradient(#0d055c, #1a1a8a);
}

.type-grass {
    background: linear-gradient(#266630, #3da04d);
}

.type-water {
    background: linear-gradient(#32a0a8, #4ecdd6);
}

.type-fire {
    background: linear-gradient(#8d241c, #b5382e);
}

.type-normal {
    background: linear-gradient(#99a8a4, #8d241c);
}

.type-ghost {
    background: linear-gradient(#7b807c, #000000);
}

.type-psychic {
    background: linear-gradient(#e72005, #230fda);
}


@media screen and (max-width: 900px) {
    .pokemon-card {
        flex: calc(50% - 32px); 
    }
}

@media screen and (max-width: 600px) {
    .pokemon-card {
        flex: 100%; 
    }
}